# Ignore for commits
bin/run_lqanalyzer
test*
*_Dict.*
*/*_Dict.*
*/*/*_Dict.*
*/*/*/*_Dict.*
*.out
*/*.out
*/*/*.out
*/*/*/*.out
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*.[oad]
*/*.[oad]
*/*/*.[oad]
*/*/*/*.[oad]
*.root
*/*.root
*/*/*.root
*/*/*/*.root
*~
*/*~
*/*/*~
*/*/*~
*/*.d
*/*.so
*/*/*.d
*/*/*.so
*/*/*/*.d
*/*/*/*.so
*/*/*/*/*.d
*/*/*/*/*.so
SNUTree/
!*/output/
*/*#*
*/*/*#*
*/*/*/*#*
*.pdf
*/*.pdf
*/*/*.pdf
run/log/*.log
*.log
*/*.log
*/*/*.log
#*
*/#*
*/*/#*
*/*/*/#*
*/*/*Dic*
*/*/*/*Dic*