# Ignore for commits
bin/run_lqanalyzer
test*
*.out
*/*.out
*/*/*.out
*/*/*/*.out
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*.[oa]
*/*.[oa]
*/*/*.[oa]
*/*/*/*.[oa]
*.root
*/*.root
*/*/*.root
*/*/*/*.root
*~
*/*~
*/*/*~
*/*/*~
*/*.d
*/*.so
*/*/*.d
*/*/*.so
*/*/*/*.d
*/*/*/*.so
*/*/*/*/*.d
*/*/*/*/*.so
SNUTree/
!*/output/
*/*#*
*/*/*#*
*/*/*/*#*
*.pdf
*/*.pdf
*/*/*.pdf
run/log/*.log
*.log
*/*.log
*/*/*.log
#*
*/#*
*/*/#*
*/*/*/#*
*/*/*Dic*
*/*/*/*Dic*